<template>
  <div class="chats-container">
    <div v-if="!isSessionLoading && getSelectedSession">
        <div v-for="message in getSelectedSession.messages" class="md-layout md-gutter" >
            <div >
                <template v-if="message.user.username === getProfile.username" class="md-layout-item">
                    <md-card class="chat-container">
                        <md-card-header>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <md-avatar class="md-avatar-icon md-primary">{{ message.user.username[0].toUpperCase() }}</md-avatar>
                                </div>
                                <div class="md-layout-item">
                                    <div class="md-title">{{ message.user.username }}</div>
                                </div>
                            </div>
                        </md-card-header>

                        <md-card-content>
                            <p v-html="cleanMessage(message.message)"></p>
                            <span class="md-caption">- {{ message.created | formatDate }}</span>
                        </md-card-content>
                    </md-card>
                </template>

                <template v-else class="md-layout-item">
                    <md-card class="chat-container">
                        <md-card-header>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <md-avatar class="md-avatar-icon">{{ message.user.username[0].toUpperCase() }}</md-avatar>
                                </div>
                                <div class="md-layout-item">
                                    <div class="md-title">{{ message.user.username }}</div>
                                </div>
                            </div>
                        </md-card-header>

                        <md-card-content>
                            <p v-html="cleanMessage(message.message)"></p>
                            <span class="md-caption">- {{ message.created | formatDate }}</span>
                        </md-card-content>
                    </md-card>
                </template>
            </div>
        </div>
        
        <div class="md-layout md-gutter" style="height: 200px; padding-top:10px;">

            <div class="md-layout-item md-size-100">
              <md-field>
                <md-textarea class="message-textarea" v-model="message" style="min-width: 400px; min-height: 150px;" placeholder="내용 작성해 주세요"></md-textarea>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100 md-gutter">
              <md-button class="md-dense md-raised md-primary" @click="sendMessage">보내기</md-button>
            </div>
        </div>
    </div> 
    <div v-else style="max-width: 500px;">
        <div class="md-layout md-gutter" style="height: 400px;">
            <div class="md-layout-item md-size-100">
              <input class="search-query" type="text" v-model="username" v-on:keyup.enter="searchUsers" placeholder="유저네임" />
              <div v-show="getUserSearchResults">
                <div v-for="user in getUserSearchResults">
                    <p @click="setUsername(user.username)">{{ user.username }}</p>
                </div>
              </div>
            </div>

            <div class="md-layout-item md-size-100">
              <md-field>
                <md-textarea class="message-textarea" v-model="message" placeholder="내용 작성해 주세요"></md-textarea>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100 md-gutter right">
              <md-button class="md-dense md-raised md-primary" @click="createMessage">보내기</md-button>
            </div>
        </div>
    </div>

  </div>
</template>

<script>
import store from '@/store'
import { SESSION_REQUEST, SESSION_SELECT, SESSION_CREATE, USER_SEARCH, USER_RESET_SEARCH, MESSAGE_CREATE } from '@/store/types'
import { mapGetters } from 'vuex'
import anchorme from 'anchorme'
import xss from 'xss'

export default {
    name: 'Chat',
    computed: { ...mapGetters(['getSelectedSession', 'getProfile', 'isSessionLoading', 'getUserSearchResults']) },
    methods: {
        createMessage () {
            const { username, message } = this
            if (!message || !username) {
                return
            }
            store.dispatch(SESSION_CREATE, { received_by: username, message})
              .then(resp => {
                  this.message = ''
                  this.username = ''
              })
        },
        sendMessage () {
            const { message } = this
            store.dispatch( MESSAGE_CREATE, { message })
              .then(resp => {
                  this.message = ''
              })
        },
        cleanMessage(message) {
            return anchorme(xss(message))
        },
        searchUsers(event) {
            store.dispatch( USER_SEARCH, event.target.value )
        },
        setUsername(username) {
            this.username = username
            store.commit(USER_RESET_SEARCH)
        }
    },
    data () {
        return {
            username: '',
            message: ''
        }
    }
}
</script>

<style scoped>
.chat-container {
    min-width: 150px;
}
.search-query {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 15px 0 30px;
    border: 1px solid #e3e3e3;
    color: #2c3e50;
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    transition: border-color 0.2s ease;
    /* background: #fff url(../assets/search.png) 8px 5px no-repeat; */
    background-size: 20px;
    vertical-align: middle !important;
}
.message-textarea {
    min-width: 400px;
    min-height: 150px; 
}
@media only screen and (max-device-width: 414px) {
  .chats-container {
    height: 100vh;
    max-width: 315px;
  }
  .message-textarea {
      min-width: 0px;
      width: 315px;
      height: 150px;

  }
}

</style>
