<template>
  <div class="container">
    <div class="md-layout">
        <div class="md-layout-item md-size-33"></div>
        <div class="md-layout-item md-size-33">
            
            <div class="md-layout">
                <div class="md-layout-item">
                    <md-card style="text-align:center;">
                        <md-card-header>
                            <div class="md-title">Login to Messenger</div>
                        </md-card-header>

                        <md-card-content>
                            <form @submit.prevent="signIn">
                                    <div class="form-group">
                                    <input v-model="username" type="text" class="form-control" id="username" placeholder="Username" required>
                                    </div>
                                    <div class="form-group">
                                    <input v-model="password" type="password" class="form-control" id="password" placeholder="Password" required>
                                    </div>
                                    <div class="form-row">
                                        <div class="error-message" v-if="getErrors" v-for="err in getErrors">
                                            <p>{{ err }}</p>
                                        </div>
                                        <div class="form-group col-md-12 text-center">
                                            <router-link tag="a" :to="{name: 'Signup'}">회원가입</router-link>
                                        </div>
                                    </div>
                                    <md-button type="submit" class="md-dense md-raised md-primary">로그인</md-button>
                                </form>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
        <div class="md-layout-item md-size-33"></div>
    </div>
  </div>
</template>

<script>
import { AUTH_REQUEST, USER_REQUEST } from '@/store/types'
import store from '@/store'
import { mapGetters } from 'vuex'
import _ from 'lodash'

export default {
    data () {
        return {
            username: '',
            password: ''
        }
    },
    computed: { ...mapGetters(['getErrors']) },
    methods: {
        signIn () {
            const { username, password } = this
            this.$store.dispatch(AUTH_REQUEST, { username, password })
              .then(resp => {
                  return this.$store.dispatch(USER_REQUEST)
              })
              .then(resp => {
                  this.$router.push('/')
              })
              .catch(err => {
                  store.commit('updateErrors', _.flattenDeep(Object.values(err.response.data)))
              })
        }
    }
}
</script>

<style>
.error-message {
  background-color: lightcoral;
  color: red;
}
</style>
