<template>
  <div class="page-container">
    <md-app md-waterfall md-mode="fixed">
      <md-app-toolbar class="md-transparent" >
        <md-button class="md-icon-button mobile-menu" @click="toggleMenu" v-if="!getMenuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <span v-if="getSelectedSession" class="md-title">{{ getSelectedSession.other_party_username }}</span>
        <span v-else class="md-title">Send Message</span>
        <div class="md-layout-item">
          <md-button class="md-dense md-raised md-primary" @click="logout" style="float:right;">로그아웃</md-button>
        </div>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="getMenuVisible" md-permanent="full">
        <md-toolbar class="md-transparent md-elevation-1">
          <div class="md-layout md-gutter">
            <div class="md-layout-item">
              <p>안읽은 대화 ({{ getUnreadSessionCount }})</p>
            </div>
            <div class="md-layout-item">
              <md-button class="md-dense md-raised md-primary" @click="createSession">+ 새로운 메세지</md-button>
            </div>
          </div>
        </md-toolbar>

        <app-sessions />
        
      </md-app-drawer>

      <md-app-content style="height: 100vh;">
        <app-chat />
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import Chat from './Chat'
import Sessions from './Sessions'

import { SESSION_CREATE, AUTH_LOGOUT } from '@/store/types'


export default {
  name: 'Main',
  components: {
    'app-chat': Chat,
    'app-sessions': Sessions
  },
  computed: { 
    ...mapGetters(['getProfile', 'getUnreadSessionCount', 'getSelectedSession', 'getMenuVisible'])
  },
  methods: {
    createSession () {
      this.$store.commit(SESSION_CREATE)
      this.toggleMenu()
    },
    toggleMenu () {
      this.$store.commit('toggleMenu')
    },
    logout(){
      this.$store.dispatch(AUTH_LOGOUT)
        .then(resp => {
          this.$router.push('/login')
        })
    }
  },
  data () {
    return {
    }
  },
  mounted() {
    // This is to compensate for bug in Vue Material
    this.$el.getElementsByClassName('md-no-elevation')[0].classList.remove('md-no-elevation')
  },
}
</script>

<style scoped>
.md-drawer {
    max-width: 350px;
}
.mobile-menu {
  display: none;
}
@media only screen and (max-device-width: 414px) {
  .mobile-menu {
    display: block;
  }
}
</style>
