<template>
  <div v-if="!isSessionLoading">
      <md-list>
        <md-list-item md-elevation="1">
          <input type="text" class="md-list-item-text search-query" v-on:keyup.enter="searchSession" placeholder="대화검색하기"></input>
        </md-list-item>

        <md-list-item md-elevation="1" v-for="session in getSessions" @click="selectSession(session)" :class="{read: !session.has_unread_message, active: getSelectedSession === session }">
            <div class="md-layout md-gutter">
                <div class="md-layout-item">
                    <div class="md-layout md-alignment-center-center">
                        <div class="md-layout-item">
                            <md-avatar class="md-avatar-icon ">
                                <md-ripple>{{session.other_party_username[0].toUpperCase()}}</md-ripple>
                            </md-avatar>
                        </div>
                    </div>
                </div>
                <div class="md-layout-item">
                    <p> {{ session.other_party_username }} - 
                        <span class="md-caption">{{ session.modified | formatDate }}</span>
                    </p>
                    <p class="md-caption"> {{ session.messages[0].message }} </p>
                </div>
            </div>
        </md-list-item>
    </md-list>

  </div>
  <div v-else>
    Loading...
  </div>
  
</template>

<script>
import store from '@/store'
import { SESSION_REQUEST, SESSION_SELECT, SESSION_SEARCH } from '@/store/types'
import { mapGetters } from 'vuex'


export default {
    name: 'Chat',
    created () {
        store.dispatch(SESSION_REQUEST)
    },
    computed: { ...mapGetters(['getSessions', 'getProfile', 'isSessionLoading', 'getSelectedSession']) },
    methods: {
        selectSession (session) {
            store.dispatch(SESSION_SELECT, session)
            store.commit('toggleMenu')
        },
        searchSession (event) {
            store.dispatch(SESSION_SEARCH, event.target.value)
        }
    }
}
</script>

<style>
.sessions {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.session-container {
   border-color: gray;
   border-width: 1px;
   border-style: solid
}
.rounded-circle {
    border-radius: 25px;
}
.read  {
  background-color: #c5c7c4;
}
.active {
    border-left-color: #007bff;
    border-left-width: 5px;
    border-left-style: solid;
}
.search-query {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 15px 0 30px;
    border: 1px solid #e3e3e3;
    color: #2c3e50;
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    transition: border-color 0.2s ease;
    /* background: #fff url(../assets/search.png) 8px 5px no-repeat; */
    background-size: 20px;
    vertical-align: middle !important;
}
</style>
