<template>
  <div class="container">
    <div class="md-layout">
        <div class="md-layout-item md-size-33"></div>
        <div class="md-layout-item md-size-33">
            
            <div class="md-layout">
                <div class="md-layout-item">
                    <md-card style="text-align:center;">
                        <md-card-header>
                            <div class="md-title">Signup for a Messenger Account</div>
                        </md-card-header>

                        <md-card-content>
                            <form @submit.prevent="signUp">
                              <div class="form-group">
                                <input v-model="email" type="email" class="form-control" id="email" placeholder="Email Address" required>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <input v-model="username" type="text" class="form-control" id="username" placeholder="Username" required>
                                </div>
                                <div class="form-group col-md-6">
                                  <input v-model="password" type="password" class="form-control" id="password" placeholder="Password" required>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-12 text-center">
                                  <router-link tag="a" :to="{name: 'Login'}">로그인</router-link>
                                </div>
                              </div>
                              <div class="error-message" v-if="getErrors" v-for="err in getErrors">
                                <p>{{ err }}</p>
                              </div>

                              <md-button type="submit" class="md-dense md-raised md-primary">회원가입</md-button>
                            </form>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
        <div class="md-layout-item md-size-33"></div>
    </div>
  </div>
</template>

<script>
import { USER_SIGNUP, AUTH_REQUEST } from '@/store/types'
import store from '@/store'
import { mapGetters } from 'vuex'
import _ from 'lodash'

export default {
    data () {
        return {
            email: '',
            username: '',
            password: ''
        }
    },
    computed: { ...mapGetters(['getErrors']) },
    methods: {
        signUp () {
          const { email, username, password } = this
          

          store.dispatch(USER_SIGNUP, { email, username, password })
            .then(resp => {
              return store.dispatch(AUTH_REQUEST, { username, password })
            })
            .then(resp => {
              this.$router.push('/')
            })
            .catch(err => {
              store.commit('updateErrors', _.flattenDeep(Object.values(err.response.data)))
            })
            
        }
    }
}
</script>

<style>
.error-message {
  background-color: lightcoral;
  color: red;
}
</style>
