<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import { AUTH_REFRESH } from '@/store/types'
export default {
  name: 'App',
  created: function () {
    if (this.$store.getters.isAuthenticated) {
      this.$store.dispatch(AUTH_REFRESH)
        .catch(err => {
          this.$router.push('/login')
        })
    }
  }
}
</script>

<style scoped>
* { 
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}
html, body {
    height: 100%;
    margin: 0;
}

</style>
